/* 전체 */
.report-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  font-family: "Pretendard", sans-serif;
}

.report-title {
  color: #333;
  margin-bottom: 40px;
  border-left: 8px solid #92715c;
  padding-left: 15px;
  font-size: 32px;
}

/* 섹션 제목 */
.report-user-title,
.report-filter-title {
  font-size: 20px;
  color: #555;
  margin-bottom: 15px;
}

.report-user-table,
.report-filter-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 60px;
  border-radius: 8px;
  table-layout: fixed;
}

.report-user-table th,
.report-filter-table th {
  background-color: #f4f4f4;
  color: #333;
  padding: 15px;
  text-align: center;
}

/* 신고 추가 메뉴 부분 간격 설정 */
.report-filter-table th:nth-child(1),
.report-filter-table td:nth-child(1) {
  width: auto;
}

.report-filter-table th:nth-child(2),
.report-filter-table td:nth-child(2) {
  width: 140px;
}

/* 신고 추가 테이블 안의 입력창 */
.report-filter-input {
  /* 입력창 너비 설정 */
  width: 100%;
  max-width: 700px;

  /* 입력창 높이와 안쪽 여백 설정 */
  height: 40px;
  padding: 0 12px;

  font-size: 14px;
  color: #555555;
  background-color: white;

  border: 1px solid #969696;
  border-radius: 5px;

  /* padding과 border가 width 안에 포함되도록 설정 */
  box-sizing: border-box;
  /* 클릭했을 때 브라우저 기본 파란 outline 제거 */
  outline: none;
}

/* 신고 목록 메뉴 부분 간격 설정 */
.report-user-table th:nth-child(1),
.report-user-table td:nth-child(1) {
  width: 80px;
}

.report-user-table th:nth-child(2),
.report-user-table td:nth-child(2) {
  width: 120px;
}

.report-user-table th:nth-child(3),
.report-user-table td:nth-child(3) {
  width: 120px;
}

.report-user-table th:nth-child(4),
.report-user-table td:nth-child(4) {
  width: auto;
}

.report-user-table th:nth-child(5),
.report-user-table td:nth-child(5) {
  width: 140px;
}

/* 두 테이블 안의 실제 데이터 칸 스타일 */
.report-user-table td,
.report-filter-table td {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  color: #666;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 행 선택 시 */
.report-user-table tbody tr:hover,
.report-filter-table tbody tr:hover {
  background-color: #ebeaea;
}

.report-action-button {
  background-color: #92715c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.report-action-button:hover {
  background-color: #7a5d4a;
}
