/* 전체 */
.admin-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Pretendard', sans-serif;
}

.admin-title {
  color: #333;
  margin-bottom: 40px;
  border-left: 8px solid #92715c;
  padding-left: 15px;
  font-size: 32px;
}

/* 섹션 제목 */
.admin-posts-title,
.admin-likes-title {
  font-size: 20px;
  color: #555;
  margin-bottom: 15px;
}

.admin-posts-table,
.admin-likes-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 60px;
  border-radius: 8px;

}

.admin-posts-table th,
.admin-likes-table th {
  background-color: #f4f4f4;
  color: #333;
  padding: 15px;
  text-align: center;
}

.admin-posts-table td,
.admin-likes-table td {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  color: #666;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 행 선택 시 */
.admin-posts-table tbody tr:hover,
.admin-likes-table tbody tr:hover {
  background-color: #ebeaea;
}

.admin-map-button {
  background-color: #92715c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.admin-map-button:hover {
  background-color: #7a5d4a;
}